@import "modules/slider";
@import "modules/form";
@import "modules/modal";
@import "modules/mediaqueries";

html{
  width: 100vw;
  height: 100vh;
  overflow-x:hidden;
  margin: 0 auto;
}

body{
  font-family: 'Cabin', sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

#splash-page{
  background-color:  #626468;
  width:100vw;
  height:100vh;
  position:absolute;
  z-index:2;
  
}


#logo2{
  
  position: absolute;
  top:25%;
  left:34%;
  width:35%;
}

#begin{
  color:white;
  border-radius: 10px;
  border: #f2a22b;
  text-align: center;
  background-color:#f2a22b;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  top: 70%;
  left:41.5%;
  width:285px;
  height: 76px;
  font-size: 52px;
  box-shadow:
  0 2px 2px 0 rgba(0,0,0,0.14),
  0 1px 5px 0 rgba(0,0,0,0.12), 
  0 3px 1px -2px rgba(0,0,0,0.2);
     
    cursor: pointer;
}

#main-content {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: none;
  margin: 0 auto;
  grid-template-columns:repeat(3, 1fr);

}

.page-container{
  height:100vh;
  width: 100vw;
  position: relative;
  margin: 0 auto;
  

}
#header{
    height: 20vh;
    background-color: #626468;
    grid-column: 1/6;

  }
#body {
    height: 105vh;
    background-color: white;
    grid-column: 1/6;
}
#footer{
   height: 10vh;
   background-color: #626468;
   grid-column: 1/6;
}

  #about{
    width: 80%;
    margin: 0 auto;
    padding-top: 5%;
    font-family: 'Cabin', sans-serif;
    font-size: 22px;
    text-align: center;
    margin-bottom:5%;

  }

  #logo{
    width: 15%;
    position: absolute;
    left:43%;
    top:4%;
    cursor: pointer;
  }
  

  .description {
    font-family: 'Cabin', sans-serif;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left:38%;
  }
  #box2{
    display: none;
  }
  #box3{
    display: none;
  }

  #box4{
    display: none;
  }

  #box5{
    display: none;
  }
  #box6{
    display: none;
  }
 
  .image-container {
  margin-top: 5%;
   height: 15%;
  width: 90%;
  padding: 0px;
  margin: 0 auto;
  display: grid;
  grid-template-columns:repeat(6, 1fr) ;
 

  }
.image1 {
  grid-column:1/2;
}
.image2 {
  grid-column:2/3;
}
.image3 {
  grid-column:3/4;
}
.image4 {
  grid-column:4/5;
}
.image5 {
  grid-column:5/6;
}
.image6 {
  grid-column:6/7;
}
.imagePos{
  margin-left: 15%;
  border-radius: 100%;
}
h5 {
  text-align: center;
}